/*************************** FOOTER **********************************/

.footer {
  background-color: black;
  text-align: center;
  padding: 30px;
  color: white;
  border: 3px solid $color-principal;
  border-radius: 10px;
  height: 200px;
}
.tituloFooter {
  color: $color-secundario;
  font-size: 3vw;
  text-shadow: 3px 3px $color-principal;
}
